<h3 class="mt-3">Add New User</h3>
<form style="text-align: left" class="mt-4" [formGroup]="userForm">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input
      type="text"
      formControlName="profileName"
      [ngClass]="{
        'is-invalid':
          userForm.get('profileName')?.invalid &&
          (userForm.get('profileName')?.dirty ||
            userForm.get('profileName')?.touched)
      }"
      class="form-control"
    />
    <span class="invalid-feedback">Name field is required.</span>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input
      type="password"
      formControlName="password"
      [ngClass]="{
        'is-invalid':
          userForm.get('password')?.invalid &&
          (userForm.get('password')?.dirty || userForm.get('password')?.touched)
      }"
      class="form-control"
    />
    <span
      *ngIf="userForm.get('password')?.errors?.['required']"
      class="invalid-feedback"
      >Password is required.</span
    >
    <span
      *ngIf="userForm.get('password')?.errors?.['minlength']"
      class="invalid-feedback"
      >Password should be at least 8 characters long.</span
    >
  </div>
  <div class="mb-3">
    <label class="form-label">Email Id</label>
    <input
      type="text"
      formControlName="email"
      [ngClass]="{
        'is-invalid':
          userForm.get('email')?.invalid &&
          (userForm.get('email')?.dirty || userForm.get('email')?.touched)
      }"
      class="form-control"
    />
    <span
      *ngIf="userForm.get('email')?.errors?.['required']"
      class="invalid-feedback"
      >Email Id is required.</span
    >
    <span
      *ngIf="userForm.get('email')?.errors?.['pattern']"
      class="invalid-feedback"
      >Email Id should be of the form example@email.com.</span
    >
  </div>
  <button
    type="button"
    (click)="submitForm()"
    [disabled]="userForm.invalid"
    class="btn btn-primary"
  >
    Add User
  </button>
</form>
