<h2>Posts List</h2>
<div class="form-group" style="text-align: left">
  <label style="font-weight: 500">Filter Posts</label>
  <select
    #dropdown
    class="form-select"
    (change)="selectionChange(dropdown.value)"
  >
    <option value="0">All Posts</option>
    <option [value]="userId" *ngFor="let userId of userIds">
      {{ userId }}
    </option>
  </select>
</div>
<div class="mt-4 table-wrapper-scroll-y">
  <table class="table table-sm table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of filteredPosts">
        <th scope="row">{{ post.userId }}</th>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
      </tr>
    </tbody>
  </table>
</div>
